.DS_Store
EasyThings.xcodeproj/project.xcworkspace/xcuserdata/bluebitch.xcuserdatad/UserInterfaceState.xcuserstate
EasyThings.xcodeproj/project.xcworkspace/xcuserdata/bluebitch.xcuserdatad/WorkspaceSettings.xcsettings